

.bg {
  background-image: url("../../../assets/elevator-cabin-interior-1171689022.html") ;
  height: 100vh;
  width:100 vw;
}



.hissi-btns-container {
display: flex;
flex-direction: column;
align-items: center;
}

.info {
  color: red;
  border: 1px solid;
  border-color: black;
  display: inline-block;
  margin-bottom: 2em;
  padding: 4px;
  margin-top: 1em;
}

.huollossa {
  padding: 1em;
  background-color: red;
}


.pressed {
  color: red;
}

.canOpen {
  background-color: yellow;
}
